<!-- START of NodePub Toolbar -->
<div id="np_container">
    <div id="np_toolbar_container">
        <div id="np_toolbar">
            <div id="np_icons">
                <ul>
                    {% for item in toolbar %}
                        <li class="{{ item.slug }}"><a href="{{ path(item.route) }}" data-panel="open">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="np_userbox">
                <p>{{ username }}</p>
                <ul id="np_usernav">
                    <li><a href="{{ path('admin_user', {username: username }) }}">Account</a></li>
                    <li><a href="{# path('admin_logout') #}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="np_panel_container" class="hide"></div>
    <a id="np_menu_toggle" href="{{ path('admin_dashboard') }}"><i class="icon-reorder"></i></a>
</div>
{# see old version for how stylesheets and js are imported using a helper #}
<link rel="stylesheet" href="/np/css/bootstrap.min.css" />
<link rel="stylesheet" href="/np/css/np_main.css" />
<script data-main="/np/js/core" src="/np/js/require.js"></script>

{#
<script type="text/html" id="np_block_types_temp">
    <ul class="nav nav-list">
        {% for type in block_types %}
            <li><a href="{{ path('admin_new_block', {namespace: type.namespace}) }}" data-panel="open">{{ type.name }}</a></li>
        {% endfor %}
    </ul>
</script>
#}

<script type="text/html" id="np_block_actions_temp">
    <ul class="nav nav-list">
        <li><a href="/admin/blocks/<%= id %>/edit" data-panel="open"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="/admin/blocks/<%= id %>/move"><i class="icon-move"></i> Move</a></li>
        <li><a href="/admin/blocks/<%= id %>/delete"><i class="icon-trash"></i> Delete</a></li>
    </ul>
</script>

<!-- END of NodePub Toolbar -->